@import url("https://fonts.googleapis.com/css2?family=Roboto");

*{
    font-family: "Roboto Regular", serif;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    overflow: scroll;
}